This notebook will be used to complete the coursera capstone project- BATTLE OF NEIGHRBOURHOODS. Till now I have linked my hardware to github and have learnt few git codes :)

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## Please note this notebook has solution to all 3 parts

# Starting question #1

In [3]:
import pandas as pd

In [4]:
webscrap = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [5]:
type(webscrap)

list

In [6]:
len(webscrap)

3

In [7]:
#webscrap[0]
print("there are 3 tables, we require webscrap[0] i.e first table ")

there are 3 tables, we require webscrap[0] i.e first table

In [8]:
df= webscrap[0]

In [9]:
df.shape

(287, 3)

In [10]:
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

deleting NOT ASSIGNED VALUED Rows

In [11]:
df.drop(df[df['Borough']=='Not assigned'].index, inplace = True)

In [12]:
df.head(20)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North
14      M4B         East York  Woodbine Gardens
15      M4B         East York     Parkview Hill
16      M5B  Downtown Toronto           Ryerson
17      M5B  Downtown Toronto   Garden District
18      M6B        North York         Glencairn
21      M9B         Etobicoke        Cloverdale
22      M9B         Etobicoke         Islington
23      M9B         Etobicoke      Martin Grove
24      M9B         Etobicoke  Princess Gardens
25      M9B         Etobicoke   West Deane Park

In [13]:
df.loc[df['Neighborhood']=='Not assigned']

  Postcode       Borough  Neighborhood
9      M9A  Queen's Park  Not assigned

In [14]:
df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [15]:
df.index

Int64Index([  2,   3,   4,   5,   6,   7,   9,  10,  11,  13,
            ...
            268, 269, 270, 271, 272, 281, 282, 283, 284, 285],
           dtype='int64', length=210)

In [16]:
df.iloc[5].Neighborhood="Queen's Park"

In [17]:
df.head(12)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North
14      M4B         East York  Woodbine Gardens
15      M4B         East York     Parkview Hill

splitting into 2 dataframes dfa and dfb ;
dfa -> postcode + neighbourhood;
dfb -> postcode + borough;
I work on them individually and then merge them

In [18]:
dfb=df[['Postcode','Borough']]
dfb.head()

  Postcode           Borough
2      M3A        North York
3      M4A        North York
4      M5A  Downtown Toronto
5      M6A        North York
6      M6A        North York

In [19]:
dfb = dfb.drop_duplicates( subset= 'Postcode', keep='first')

In [20]:
dfb.head()

  Postcode           Borough
2      M3A        North York
3      M4A        North York
4      M5A  Downtown Toronto
5      M6A        North York
7      M7A  Downtown Toronto

In [21]:
dfb.set_index('Postcode', inplace= True)

In [22]:
dfa=df[['Postcode','Neighborhood']]

In [23]:
dfa.head()

  Postcode      Neighborhood
2      M3A         Parkwoods
3      M4A  Victoria Village
4      M5A      Harbourfront
5      M6A  Lawrence Heights
6      M6A    Lawrence Manor

In [24]:
#t=df_try.groupby(df_try['Postcode']).sum(df_try['Neighborhood'])
dfa=dfa.groupby('Postcode').sum()

In [25]:
dfa.head()

                                Neighborhood
Postcode
M1B                             RougeMalvern
M1C       Highland CreekRouge HillPort Union
M1E            GuildwoodMorningsideWest Hill
M1G                                   Woburn
M1H                                Cedarbrae

merging dfa and dfb

In [26]:
df_new = pd.merge(dfa, dfb,how='left', on='Postcode')

In [27]:
df_new.head(10)

                                         Neighborhood      Borough
Postcode
M1B                                      RougeMalvern  Scarborough
M1C                Highland CreekRouge HillPort Union  Scarborough
M1E                     GuildwoodMorningsideWest Hill  Scarborough
M1G                                            Woburn  Scarborough
M1H                                         Cedarbrae  Scarborough
M1J                               Scarborough Village  Scarborough
M1K           East Birchmount ParkIonviewKennedy Park  Scarborough
M1L                       ClairleaGolden MileOakridge  Scarborough
M1M       CliffcrestCliffsideScarborough Village West  Scarborough
M1N                         Birch CliffCliffside West  Scarborough

In [28]:
df_new=df_new[['Borough','Neighborhood']]

In [29]:
df_new.head()

              Borough                        Neighborhood
Postcode
M1B       Scarborough                        RougeMalvern
M1C       Scarborough  Highland CreekRouge HillPort Union
M1E       Scarborough       GuildwoodMorningsideWest Hill
M1G       Scarborough                              Woburn
M1H       Scarborough                           Cedarbrae

In [30]:
df_new.shape

(103, 2)

# END OF QUESTION #1

In [31]:
import pandas as pd

In [32]:
#!wget -O Geospatial_data.csv http://cocl.us/Geospatial_data.csv

--2020-01-02 14:07:18--  http://cocl.us/Geospatial_data.csv
Resolving cocl.us (cocl.us)... 169.48.113.194
Connecting to cocl.us (cocl.us)|169.48.113.194|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data.csv [following]
--2020-01-02 14:07:18--  https://cocl.us/Geospatial_data.csv
Connecting to cocl.us (cocl.us)|169.48.113.194|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Geospatial_data.csv’

    [ <=>                                   ] 4,368       --.-K/s   in 0s

2020-01-02 14:07:20 (208 MB/s) - ‘Geospatial_data.csv’ saved [4368]

uploading above downloaded data asset "Geospatial_data.csv" into pandas dataframe

In [42]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_c788cf127f914077a5a3eb070272815d = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='_QQTLF-fFZFu4IV6C8hns0ukO8oTGT3EjUgBYmCQej_W',
    ibm_auth_endpoint="https://iam.eu-gb.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_c788cf127f914077a5a3eb070272815d.get_object(Bucket='courseracapstone-donotdelete-pr-6gqoav3lnzmqhx',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [49]:
df_data_1 = df_data_1.rename(columns={"Postal Code": "Postcode"})

In [50]:
df_loc = pd.merge(df_new, df_data_1, how='left', on='Postcode')

In [51]:
df_loc.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,RougeMalvern,43.806686,-79.194353
1,M1C,Scarborough,Highland CreekRouge HillPort Union,43.784535,-79.160497
2,M1E,Scarborough,GuildwoodMorningsideWest Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [52]:
df_loc.shape

(103, 5)

In [54]:
df_loc.Borough.unique()

array(['Scarborough', 'North York', 'East York', 'East Toronto',
       'Central Toronto', 'Downtown Toronto', 'York', 'West Toronto',
       'Mississauga', 'Etobicoke', "Queen's Park"], dtype=object)

# END OF QUESTION #2